:root            { color-scheme: light dark }
*                { color: #393232; line-height: 1.6; font-family: lucida grande,segoe ui,roboto,sans-serif }
body             { background: #FEFFFA; margin: 0 }
.wrapper         { margin: 0 auto 2em; padding: 1em; max-width: 40em; min-width: 50% }
h1,h2,h3,h4,h5,h6,.toolbar *{ font-family: -apple-system,lucida grande,segoe ui,roboto,sans-serif }
h1,h2,h3,h4,h5,h6{ font-weight: 400; line-height: 1em; margin: 8% 0 3% }
ul,ol,blockquote { padding: 0 0 0 1.6em }
p                { margin: 3% 0 }
hr               { border: 1px solid }
a                { text-decoration: none; border-bottom: 2px solid }
cite             { font: inherit; }
cite::before     { content: "— " }
code,input,textarea { font-family: consolas, menlo, monaco, monospace }
time:hover       { cursor: n-resize; }
input,textarea   { background: transparent; font: inherit }
[type=checkbox]  { margin: 0 .4em 0 -1.6em }
[role=notice]    { background: #F48A5D; color: #744955; padding: 2.5%; text-align: center; margin: 0 }
[role=notice] a  { color: #C36346; border: 0 }
[role=title]     { margin-bottom: 5%; font-family: liberation serif,century schoolbook l,charter,georgia,serif }
[todo]           { list-style: none }
.list li b       { background: #FFF4A6; padding: 0 1px; margin: -1px; font-weight: normal }

.edit-view input, .edit-view textarea { width: 100%; padding: 0 0 .1em; margin: 0 0 .5em }
.edit-view textarea { border: 0; outline: 0; background: transparent }

@media (prefers-color-scheme: dark) {
  *                { color: rgb(210, 207, 211) }
  body             { background: rgb(22, 23, 22) }
  [role=notice]    { background: #5c3b44; color: inherit }
  [role=notice] a  { color: #a36670 }
}
