*                { color: #393232; line-height: 1.6; font-family: lucida grande,segoe ui,roboto,sans-serif }
body             { background: #FEFFFA; margin: 0 }
.wrapper         { margin: 0 auto 2em; padding: 1em; max-width: 40em; min-width: 50% }
h1,h2,h3,h4,h5,h6{ font-family: -apple-system,lucida grande,segoe ui,roboto,sans-serif; font-weight: 400; line-height: 1em; margin: 8% 0 3%; color: #877d7d; } 
ul,ol,blockquote { padding: 0 0 0 1.5em } 
p                { margin: 3% 0 }
hr               { border: 1px solid; }
a                { text-decoration: none; border-bottom: 4px solid #ADADAD } 
a:hover          { border-color: currentColor } 
code             { color: #9E9E9E; font-family: consolas, menlo, monaco, monospace }
time:hover       { cursor: n-resize; color: #504a4a } 
[type=checkbox]  { margin: 0 .5em 0 -1.8em }
[name=versions]  { border: none; background: inherit; margin: 0.6em 0 0; -webkit-appearance: inherit; font: inherit; }
[role=notice]    { background: #F48A5D; color: #744955; padding: 2.5%; text-align: center; margin: 0 } 
[role=notice] a  { color: #C36346; border: 0 }
[role=title]     { margin-bottom: 5% }
[role=title] input{ font: inherit; background: transparent; border: none; width: 100% }
.redlink         { color: #C44545 } 
.edit            { margin-left: .5em }
.list            { padding: 0; list-style: none; }
.list a          { line-height: 1.5em; display: block; padding: 1.5vh 5%; margin: 0 -5%; border: 0; border-radius: 2px; }
.list li:nth-child(odd) a { background: #f6f6f3; }
.list li a:hover { background: #acd0d7; }
.list b { color: #796262; background: #FFF4A6; border-radius: 2px; padding: 0 2px; margin: -2px; font-weight: normal; }
.toolbar, .toolbar * { background: #504d4d; color: #FEFFFA; border: none; }
.toolbar .wrapper { margin-bottom: 0; padding: 0 1em 0; line-height: 4.5vh; }
.toolbar a { padding: .8vh; }
.toolbar a:hover { background: #464444; }
